div.row.diary-before-after-navigation
  div.col-xs-6
    a.pull-right(href="/diary/{{before_date.year}}{{before_date.month|format: '%02d'}}.html", ng-show="before_date", style="display:none;")
      i.icon-angle-left
      span {{before_date.year}}-{{before_date.month|format: '%02d'}}
    span &nbsp;

  div.col-xs-6
    a.pull-left(href="/diary/{{after_date.year}}{{after_date.month|format: '%02d'}}.html", ng-show="after_date", style="display:none;")
      span {{after_date.year}}-{{after_date.month|format: '%02d'}}
      i.icon-angle-right
    span &nbsp;
