extends ../templates/layout

block content-header
  div#top-wrapper
    div.container
      div.jumbotron
        h1 hatotech
        p A personal website by kumatch

block content
  div.row
    div.col-md-6
      p.big-image
        i.icon-male
        i.icon-heart
        i.icon-gamepad
        i.icon-laptop

    div.col-md-6
       h2 About

       dl.dl-horizontal
           dt Name
           dd Yosuke Kumakura
           dt Mail
           dd kumatch at gmail dot com
           dt Twitter
           dd
             a(href="https://twitter.com/kumatch") kumatch
           dt Facebook
           dd
             a(href="https://www.facebook.com/kumatch") kumatch
           dt Github
           dd
             a(href="https://github.com/kumatch") kumatch
           dt Work
           dd Web developer (architecture, programing, and infrastructure)
