doctype 5
html
  head
    title hatotech
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="hatotech.org")
    meta(name="author", content="kumatch")
    link(rel="shortcut icon", href="/assets/ico/favicon.ico")

    link(href="/assets/css/imports.css", rel="stylesheet")
    link(href="/assets/css/hatotech.css", rel="stylesheet")

  body
    // navi
    div.navbar.navbar-fixed-top.nav-hatotech
      div.container
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/")
                i.icon-home
                | Home
            li
              a(href="/diary")
                i.icon-pencil
                | Diary

            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                i.icon-share
                | Links &nbsp;
                b.caret
              ul.dropdown-menu
                li
                  a(href="https://twitter.com/kumatch", target="_blank")
                    i.icon-twitter
                    | Twitter
                li
                  a(href="https://github.com/kumatch", target="_blank")
                    i.icon-github
                    | Github
                li
                  a(href="http://kumatchs.blogspot.jp/", target="_blank")
                    i.icon-bold
                    | Blogger


    block content-header

    div.body-content
      div.container
        block content



    footer
      div.container

    block styles

    script(src="/assets/js/imports.min.js")
    block scripts
